<!DOCTYPE html>
<html lang="en">
<!---the models i'm usnig are
    2023 mini convertable
2023 mini all electric
2023 5 door
2023 3 door-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="imgs/logo_mini.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/main.css">


    <title>MINI Canada</title>
</head>



<body>
    <header>
        <img src="imgs/navigation.svg" alt="nav">
    </header>
    <div id="ParentVideo">
        <div class="video">
            <video autoplay muted loop>
                <source src="imgs/vid_miniCooper.mp4" type="video/mp4">
            </video>
        </div>

        <div class="overlay">
            <img class="overlayPic" src="imgs/logo_silver.png" alt="silverLogo">
        </div>
        <div class="slogan">
            <h3>AN UNFORGETTABLE DRIVING EXPERIENCE.</h3>
        </div>
        <div class="arrow">
            <img class="downarrow" src="imgs/img_downarrow.png" alt="downarrow">
        </div>
    </div>


    <h2 id="details">
        VIEW DETAILS
    </h2>
    <!----------------lightbox-->

    <section id="cars">
        <thelightbox @closelb="this.showLB = false" v-if="showLB" :item="lbData">

        </thelightbox>

        <thecars @loadcardata="loadcardata" v-for="piece in carData" :piece="piece">

        </thecars>
    </section>



    <!-------------------lightbox end------------>

    <!----------------------------------------------------->
    <footer>
        <img id="footer" src="imgs/mini_footer.png" alt="footer" width="1890px">
    </footer>
    <!--including vue.js library on webpage-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.45/vue.global.js"></script>
    <script src="js/main.js" type="module"></script>

</body>


</html>